/* papago.css */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#wrap{
    width:100%;
    min-width:800px;
    position:relative;
}

#header{
    width:100%;
    padding:20px;
    position:relative;
    border-bottom:1px solid #aaa;
}
#header_left{
    position:relative;
    width:100%;
}
#header_left .logo{
    /* width:130px; */
}
#header_left .logo img{
    /* width:130px; */
    height:35px;
}

#header_left .menu{
    position:absolute;
    top:0;
    left:150px;
    line-height: 35px;
}
#header_left .menu .menu_text:nth-child(2){
    margin:0 10px;
    position:relative;
}
#header_left .menu .menu_text:nth-child(2)::after{
    content:"|";
    position:absolute;
    right:-10px;
    bottom:-5px;
    color:gray;
}


#header_right{
    position:absolute;
    right:20px;
    top:20px;
}
#header_right>span{
    border:1px solid #aaa;
    padding:3px 7px;
    font-size:12px;
}


#main{
    width:1400px;
    margin:0 auto;
    padding:50px 0;
    position:relative;
}